body {
    display: block;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    list-style-type: none;
    float: right;
    margin: 20;
    padding: 0;
    overflow: hidden;
  }

  h1 {
    text-align: left;
    display: inline-block;
    padding: 0px;
    margin: 30px;
  }

  /* h2 {
    text-align: center;
  } */
  
  li {
    float: left;
    margin: 5px;
    padding: 14px 16px;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .menu button,
  .menu ul {
    display: flex;
    align-items: right;
  }
  
  .menu li {
    margin: 0 1rem;
  }
  
  .menu label {
    margin-left: 1rem;
  }
  
  .menu button {
    margin-left: auto;
  }

  button {
    background-color: #0a0b0d;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 0.21px;
    line-height: 1px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin: 0.6em auto;
    display: block;
  }
  
  /* .footer {
    width: 100%;
    position: absolute;
    padding-bottom: 100px;
    bottom: 0px;
  } */
  
  /* .toggle {
    border-style: outset;
    width: 400px;
    background-color: rgba(76, 175, 80, 0.15)
  } */
  
  /* Dark Mode */
  .dark {
    background-color:#243447;
    height: 100vh;
    color: #bebebe
   
  }
  
  .dark li a {
    color: #bebebe;
  }
  
  .dark li a:hover {
    background-color: #111;
  }
  
  /* Light Mode */
  .light {
    background-color: #f0ead6;
    color: black;
    height: 100vh;
  }
  
  .light li a {
    color: black;
  }
  
  .light li a:hover {
    background-color: rgb(29, 128, 210);
  }
  
  /* Styling the Switch button */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(29, 128, 210);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(29, 128, 210);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .col {
    margin: 0px;
  }

